<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>  
        <tbody>
            <th>
                nombre
            </th>

            <th>
                ciudad
            </th>
        </tbody>
        
    {% for centros_comercial in centros_comerciales %}
        <tr>
            <td>
                {{ centros_comercial.nombre }}
            </td>
            <td>
                {{ centros_comercial.ciudad }}
            </td>
        </tr>
    {% endfor %}

    </table>
</body>
</html>