{% extends 'base.html' %}

{% block container %}
<div class="container mt-4">

  <div class="jumbo">
    <h1>Centros Comerciales de Bucaramanga</h1>
    <p>Conoce algunos de los principales centros comerciales de la ciudad bonita.</p>
  </div>
  <div class="row">
    {% for centros_comercial in centros_comerciales %}
    <div class="col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/300x200?text=CC+La+Florida" class="card-img-top" alt="CC La Florida">
        <div class="card-body">
          <a href="{% url 'myapp:vista_centros_comercial' centros_comercial.nombre %}" class="card-title"
            style="color: rgb(53, 53, 53);">{{ centros_comercial.nombre }}</a>
          {% if centros_comercial.descripcion %}
          <p class="card-text">{{ centros_comercial.descripcion }}</p>
          {% else %}
          <p class="card-text"> Visita nuesto nuevo Centro comercial! </p>
          {% endif %}
          <p class="card-text"> se encuentra ubicado en {{ centros_comercial.ciudad }} </p>
          <a href="{% if   centros_comercial.url %} {{ centros_comercial.url }} {% else %} # {% endif %}"
            target="_blank" class="btn btn-success">Pagina Oficial</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}