{% extends 'base.html' %}
{% block title %} Tiendas de  {{ centro_comercial.nombre }} {% endblock %}


{% block container %}
<div class="container mt-4">
  <div class="jumbo">
    <h1>Tiendas Comerciales de {{ centro_comercial.nombre }}</h1>
    <p>{{ centro_comercial.descripcion }}</p>
    <p>Ubicación: {{ centro_comercial.ciudad }}</p>

  </div>

  <div class="row">
    {% for tienda in tiendas %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(53, 53, 53);">{{ tienda.nombre }}</h5>
          <p class="card-text"> se encuentra la categoria: {{ tienda.categoria }} </p>
          {% if tienda.url %}
          <a href="{{ tienda.url }}" target="_blank" class="btn btn-success">Pagina Oficial</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}

{% block footer %}
  <footer class="text-center mt-4 mb-2 text-muted">
    &copy; 2020 Información de Bucaramanga - Página educativa. Confenalco Santander
  </footer>
{% endblock %}